.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px auto 50px auto;
}
