.headerIntro {
  width: 100%;
  max-width: 500px;
  margin: 10px;
}

h1 {
  font-family: "Londrina Solid", cursive;
  font-size: 50px;
  font-weight: 400;
  color: var(--green);
  margin: 10px auto;
}

p {
  font-family: "Signika Negative", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: white;
}
